#main{
    background-color: aqua;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: blue;
font-size:xx-large;
font-style: italic;
text-align: center;
font-family: 'Courier New', Courier, monospace;


}
p{
    word-spacing: 10px;
    color: pink;
    line-height: 50px;
    font-weight: bold;
}