.main{
    animation:  duration timing-function delay iteration-count direction fill-mode;
    animation: bgcolor 5s ease infinite;
    background-color: blue;
}
@keyframes bgcolor{
0%{
    background-color: brown;
    /* transform: rotate(45deg);
    transform: scale(1.4); */
    transform: translateX();
}
45%{
    background-color: chartreuse;
    transform: rotate(90deg);
}
}